{% extends 'layout.html.twig' %}

{%  block body %}
<form method="post">
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="submit">Login</button>
        <button type="button" class="cancelbtn">Cancel</button>
        <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
    </div>
</form>
{%  endblock %}