<!DOCTYPE HTML>
<html>
    <head>
        <title>PHP-CHAT-MVC</title>

        <!-- JS, jQuery, Bootstrap -->
        <script src="/js/jquery.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <!-- Bootstrap css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    </head>

    <body>

        <section>
            <div class="main-title">
                <h1>PHP CHAT MVC</h1>
            </div>

            <div class="content">

                <?php if($provider === 'index') { ?>
                <button><a href="/register">REGISTER</a></button>
                <button><a href="/login">LOGIN</a></button>
                <button><a href="/generate">GENERATE MEMBERS</a></button>
                <?php } ?>

                <?php if($provider === 'member') {
                    include('views/Login/login.html.twig');
                } ?>

                <?php if($provider === 'register') {
                    include('views/Register/register.html.twig');
                } ?>

                <?php if($provider === 'box') {
                    include('views/Box/box.html.twig');
                } ?>

                <?php if($provider === 'error') {
                    include('views/Error/404.html.twig');
                } ?>

            </div>

        </section>

        <footer>
            <?php if($container->getSession('member')) { ?>
            <button><a href="/box">TCHAT</a></button>
            <button><a href="/box/message/archives">ARCHIVES (TCHAT OLDER THAN YESTERDAY)</a></button>
            <button><a href="/logout">Logout</a></button>
            <?php } ?>
        </footer>

    </body>

</html>