<!DOCTYPE HTML>
<html>
    <head>
        <title>PHP-CHAT-MVC</title>

        <!-- JS, jQuery, Bootstrap -->
        <script src="/js/jquery.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <!-- Bootstrap css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    </head>

    <body>

        <section>
            <div class="main-title">
                <h1>PHP CHAT MVC</h1>
            </div>

            <button><a href="/register">REGISTER</a></button>
            <button><a href="/login">LOGIN</a></button>
            <button><a href="/generate">GENERATE MEMBERS</a></button>

            <div class="content">

                {% block body %}

                {% endblock %}

            </div>

        </section>

        <footer>
            <?php if($container->getSession('member')) { ?>
            <button><a href="/box">TCHAT</a></button>
            <button><a href="/box/message/archives">ARCHIVES (TCHAT OLDER THAN YESTERDAY)</a></button>
            <button><a href="/logout">Logout</a></button>
            <?php } ?>
        </footer>

    </body>

</html>