<?php if(!isset($archives)) { ?>
<script><?php include('box.js'); ?></script>
<?php } ?>

<div id="message">

    <?php foreach($messageMemberList as $messageMemberItem) { ?>
        <p class="line" id="<?php echo $messageMemberItem->getMessage()->getId(); ?>">
            <span><?php echo date('d/m/y H:i:s', $messageMemberItem->getMessage()->getTimestamp()); ?> - </span>
            <span><?php echo $messageMemberItem->getMember()->getUsername(); ?> : </span>
            <span><?php echo $messageMemberItem->getMessage()->getText(); ?></span>
        </p>
    <?php } ?>

</div>

<?php if(!isset($archives)) { ?>
<div id="list-user">
    <span>Users connected : [</span>
    <?php foreach($membersConnected as $memberConnected) { ?>
        <span title="Last activity <?php echo date('d/m/Y H:i', $memberConnected['lastActivity']); ?>">
            <a href="#"><?php echo $memberConnected['username']; ?></a>
        </span>
    <?php } ?>
    <span>]</span>
</div>
<br/><br/>
<?php include('send.html.twig'); ?>
<?php } ?>
