<script><?php include('send.js'); ?></script>

<form method="post" name="formSend">
    <label for="comment"><?php echo $container->getSession('member')['username']; ?> : </label>
    <textarea name="comment" id="comment"></textarea>
    <button type="button" id="speak" >Envoyer</button>
</form>
